
MONGO_URI=mongodb://admin:admin123@localhost:27018/tpBancoIDD2?authSource=admin
MONGO_DB_NAME=tpBancoIDD2

NEO_4J_URI=bolt://localhost:7687
NEO_4J_USER=neo4j
NEO_4J_PASSWORD=12345678
NEO_4J_DATABASE=IDD2

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=a22Btwt9MEEJHC48zyJ6mUaPLwesEUz0
REDIS_CONNECTION_URL=redis://:a22Btwt9MEEJHC48zyJ6mUaPLwesEUz0@localhost:6379

LIMITE_DIARIO=1000000
